
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
.bg_login_parent{
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);background-size: cover;  */
    /* background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%); */
width: 100%;
 background-image: url(../IMG/mountain.jpg);

height: 92vh;
}
.from_login_page{   
   
    font-family: "Roboto Slab";
  

padding-inline: 5rem;
box-shadow: 0px 0px 6px 0px rgba(87, 82, 82, 0.401);
}
.google_login_btn{
width: 100%;
display: inline-block;
border-radius: 10px;

}
.account_log{
    width: 100%;
display: inline-block;
border-radius: 10px;
}

/* inpur vaule  */
#mail_input{
font-size: 2rem;
}
#mail_input::placeholder{
    color: rgb(225, 212, 212);


}
#password_input::placeholder{
    color: rgb(225, 212, 212);


}
#password_input{
font-size: 2rem;}

#password_input:focus{
    outline: none;

}
#mail_input:focus{
    outline: none;

}

/* ///// */

.icon_for_inp{
top: 50%;
transform: translateY(-50%);
padding-inline: 1rem;

}
.google_pic{

width: 30px;
height: 30px;


}
.text-info_emphasis {
      color: rgb(27, 131, 48);
    


}
.hide_password{

    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
}