@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar_rightside_p{
 border-left: 2px solid rgba(0, 0, 0, 0.158);
 padding-left:1rem ;
 font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar_leftside ul li {
    padding: 1rem;
    list-style: none;
}
.navbar_leftside ul li a{
    text-decoration: none;
}
.navbar_rightside_b{
    /* border-left: 2px solid rgba(0, 0, 0, 0.158); */
    padding-inline:1rem ;
    font-family: "Lato", sans-serif;
     font-weight: 400;
     font-style: normal;
   }
   .product_img_span_icon{
    background-image: url(../IMG/spiderimg.webp);
    height: 50px;
    width: 50px;
    background-size: 100% 100%;
    border-radius: 50%;
   }
   .product_container{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: 3.4rem;
   }
   .product_container:hover{
   color: #000 !important;
   
   }
   .product_img_flex_icon{
    background-image: url(../IMG/ffff.jpg);
    height: 50px;
    width: 50px;
    background-size: 100% 100%;
    border-radius: 50%;
   }
   .company_container{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: 3.4rem;
   }
   .en_container{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: 3.7rem;
    
    
    
   }
   

 .Pricing_contain_main{
    color: black;
 }
   .change_bg_on_over:hover{
    background-color: #F5F6F7;
    
   }
.text_hoverglow{
  color: #55B0FC !important;
}
.clolr{
  background-color: #F5F6F7;
}
.fa-caret-up{
transform: rotate(180deg);

}
.rotate30{
  transform: rotate(360deg);
}
.EN_containr_left_side_bar_apear{
  left: 50%;
  transform: translatex(-50%);
  top: 3.4rem;

}

.EN_containr_left_side_bar_apear{
  background-color: white;


}
.con{
  height: 2rem;
  width: 2rem;
  
}
.sidebar_toggle_menu_div{
  position: absolute;
  background-color:#e2e1e1;
  width: 100%;
  display: flex;
  bottom: 0%;}
  .sidebar_toggle_menu_div:hover{
    background-color:#fbf5f5;

  
  
  }

.fa-angle-left{ 
transform:rotate(180deg);

}
.sidebar_main_container{
    background-color: #EFF0F1;
  
  padding-top: 64px;
}
.Inbox_hover:hover{
    background-color: #f5f7f7;
  
}
.Inbox_hover{

color: #55B0FC
;
}



.Updates_span:hover{
    background-color: #f5f7f7;
  color: #FF8F00;


}
.Auditspan:hover{
    background-color: #f5f7f7;
    color: #FF5C38;
  


}
.Howspan:hover{
    background-color: #f5f7f7;
    color: #285ecbc8;
  


}
.Usespan:hover{
    background-color: #f5f7f7;
    color: #28CB98;
  


}
.spanList:hover{
    background-color: #f5f7f7;
    color: #A1CF39;
  


}
.Fromspan:hover{
    background-color: #f5f7f7;
    color: #EF626C;
  


}
.Newsspan:hover{
    background-color: #f5f7f7;
    color: #806CFB;
  


}
.Quizzesspan:hover{
    background-color: #f5f7f7;
    color: #00CAF8;
  


}